body {
  background-color: #fff; }

/* header */
/* part-one */
#header .part-one {
  min-height: 91px;
  border-bottom: 2px solid #22aaec; }
  #header .part-one .logo {
    margin-top: 10px;
    text-align: right; }
    #header .part-one .logo h1 {
      position: relative;
      left: 101px;
      font: 2em "League Gothic", sans-serif;
      color: #076e9f;
      z-index: 1; }
      #header .part-one .logo h1 span {
        color: #22aaec; }
  #header .part-one .social {
    margin: 15px 15px 0 0;
    text-align: right;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 0; }
    #header .part-one .social p {
      display: inline-block;
      padding-left: 3px; }
      #header .part-one .social p a {
        text-decoration: none; }
    #header .part-one .social p:first-child {
      padding-left: 0; }
    #header .part-one .social .e {
      position: relative;
      top: 1px; }
    #header .part-one .social .tw {
      position: relative;
      bottom: 1px; }
    #header .part-one .social p:hover {
      opacity: 0.6;
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s; }
  #header .part-one .navigation {
    margin-top: 8px;
    text-align: center; }
    #header .part-one .navigation li {
      padding-left: 3px;
      display: inline-block;
      font: 0.625em "Arial"; }
    #header .part-one .navigation li:first-child {
      padding-left: 0; }
    #header .part-one .navigation a {
      text-decoration: none;
      color: #707070;
      padding: 4px 16px;
      border: 1px solid rgba(4, 82, 121, 0);
      -webkit-border-radius: 1px;
              border-radius: 1px; }
    #header .part-one .navigation a:hover {
      border: 1px solid #045279;
      text-shadow: 0 -0.7px 1px rgba(0, 0, 0, 0.55);
      -webkit-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.25);
              box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.25);
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0.1)));
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
      background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
      background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
      color: #fff;
      background-color: #076e9f; }

/* part-two */
.part-two {
  min-height: 433px;
  border-bottom: 2px solid #22aaec;
  background: url("../img/bg_header.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }
  .part-two .one {
    margin-top: 91px; }
    .part-two .one .h1,
    .part-two .one .p {
      margin: 0 auto;
      text-align: center;
      color: #076e9f;
      background-color: rgba(255, 255, 255, 0.8); }
    .part-two .one .h1 {
      max-width: 284px;
      min-height: 79px;
      font: 3.75em "League Gothic", sans-serif; }
      .part-two .one .h1 h1 {
        padding-top: 6px; }
    .part-two .one .p {
      position: relative;
      top: 19px;
      min-height: 47px;
      max-width: 776px;
      font: 1.875em "League Gothic", sans-serif; }
      .part-two .one .p p {
        padding-top: 7px; }
    .part-two .one span {
      color: #22aaec; }
  .part-two .comments {
    margin-top: 94px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5); }
