body {
  background-color: #fff; }

/* header */
/* part-one */
#header .part-one {
  min-height: 91px;
  border-bottom: 2px solid #22aaec; }
  #header .part-one .logo {
    margin-top: 10px;
    text-align: right; }
    #header .part-one .logo h1 {
      position: relative;
      left: 101px;
      font: 2em "League Gothic", sans-serif;
      color: #076e9f;
      z-index: 1; }
      #header .part-one .logo h1 span {
        color: #22aaec; }
  #header .part-one .social {
    margin: 15px 15px 0 0;
    text-align: right;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 0; }
    #header .part-one .social p {
      display: inline-block;
      padding-left: 3px; }
      #header .part-one .social p a {
        text-decoration: none; }
    #header .part-one .social p:first-child {
      padding-left: 0; }
    #header .part-one .social .e {
      position: relative;
      top: 1px; }
    #header .part-one .social .tw {
      position: relative;
      bottom: 1px; }
    #header .part-one .social p:hover {
      opacity: 0.6;
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s; }
  #header .part-one .navigation {
    margin-top: 8px;
    text-align: center; }
    #header .part-one .navigation li {
      padding-left: 3px;
      display: inline-block;
      font: 0.625em "Arial"; }
    #header .part-one .navigation li:first-child {
      padding-left: 0; }
    #header .part-one .navigation a {
      text-decoration: none;
      color: #707070;
      padding: 4px 16px;
      border: 1px solid rgba(4, 82, 121, 0);
      -webkit-border-radius: 1px;
              border-radius: 1px; }
    #header .part-one .navigation a:hover {
      border: 1px solid #045279;
      text-shadow: 0 -0.7px 1px rgba(0, 0, 0, 0.55);
      -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
              box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0.1)));
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
      background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
      background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
      color: #fff;
      background-color: #076e9f; }

/* part-two */
#header .part-two {
  min-height: 433px;
  border-bottom: 1px solid #22aaec;
  background: url("../img/bg_header.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }
  #header .part-two .one {
    margin-top: 91px; }
    #header .part-two .one .h1,
    #header .part-two .one .p {
      margin: 0 auto;
      text-align: center;
      color: #076e9f;
      background-color: rgba(255, 255, 255, 0.8); }
    #header .part-two .one .h1 {
      max-width: 284px;
      min-height: 79px;
      font: 3.75em "League Gothic", sans-serif; }
      #header .part-two .one .h1 h1 {
        padding-top: 6px; }
    #header .part-two .one .p {
      position: relative;
      top: 19px;
      min-height: 47px;
      max-width: 776px;
      letter-spacing: -0.12px;
      font: 1.875em "League Gothic", sans-serif; }
      #header .part-two .one .p p {
        padding-top: 7px; }
    #header .part-two .one span {
      color: #22aaec; }
  #header .part-two .comments {
    margin-top: 94px;
    height: 121px;
    background-color: rgba(0, 0, 0, 0.5); }
    #header .part-two .comments .block {
      position: relative;
      top: 25px;
      margin: 0 auto;
      text-align: center;
      width: 154px;
      height: 69px;
      background-color: rgba(255, 255, 255, 0.9); }
      #header .part-two .comments .block .photo {
        position: relative;
        right: 36px;
        text-align: left; }
        #header .part-two .comments .block .photo img {
          -webkit-border-radius: 50px;
                  border-radius: 50px;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
        #header .part-two .comments .block .photo img:hover {
          -webkit-box-shadow: 0 0 0 3px #22aaec;
                  box-shadow: 0 0 0 3px #22aaec; }
      #header .part-two .comments .block .message {
        margin-top: -67px;
        margin-left: 51px;
        text-align: left;
        line-height: 13px !important;
        font: italic 0.562em "Arial";
        color: #515151; }
      #header .part-two .comments .block .name {
        padding-top: 5px;
        font: 0.562em "Arial";
        color: #828282; }
    #header .part-two .comments .one {
      left: 31px; }
      #header .part-two .comments .one .name {
        padding-left: 33px; }
    #header .part-two .comments .two {
      left: 17px; }
      #header .part-two .comments .two .name {
        padding-left: 6px; }
    #header .part-two .comments .three {
      left: 3px; }
      #header .part-two .comments .three .name {
        padding-left: 20px; }
    #header .part-two .comments .four {
      right: 11px; }
      #header .part-two .comments .four .name {
        padding-left: 22px; }
    #header .part-two .comments .pre-content .line {
      position: relative;
      top: 42px;
      border-top: 1px solid #22aaec; }
    #header .part-two .comments .pre-content .div {
      height: 13px;
      background-color: #fff;
      border-top: 1px solid #299ed7; }

/* hack for safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome, #header .part-two .comments .block.four .message {
    margin-left: 47px;
    width: 104px;
    letter-spacing: -0.1px; } }

/* hack for moz*/
@-moz-document url-prefix() {
  #header .part-two .comments .block.four .message {
    letter-spacing: -0.1px; } }

/* content */
/* part-one */
#content .part-one {
  min-height: 578px;
  border-top: 1px solid #3fb5ef;
  /* sidebar */ }
  #content .part-one .main_block {
    min-height: 578px;
    border-left: 1px dotted #d5d5d5;
    border-bottom: 1px dotted #d5d5d5;
    /* block one */
    /* block two */
    /* banner */ }
    #content .part-one .main_block .block_one {
      min-height: 189px;
      border-right: 1px dotted #d5d5d5;
      border-bottom: 1px dotted #d5d5d5;
      background-color: #fff; }
      #content .part-one .main_block .block_one h1 {
        padding: 25px 0 0 13px;
        font: 2em "League Gothic", sans-serif;
        color: #076e9f; }
      #content .part-one .main_block .block_one .date_one,
      #content .part-one .main_block .block_one .date_two {
        margin-top: 9px;
        display: inline-block;
        width: 52px;
        height: 51px;
        -webkit-border-radius: 100px;
                border-radius: 100px;
        background-color: #22aaec;
        font: bold 0.5em "Arial";
        color: #fff;
        text-align: center; }
        #content .part-one .main_block .block_one .date_one p,
        #content .part-one .main_block .block_one .date_two p {
          padding-top: 18px; }
      #content .part-one .main_block .block_one .date_one {
        margin-left: 12px; }
      #content .part-one .main_block .block_one .date_two {
        margin-left: 4px;
        background: #22aaec url("../img/user-male.png") no-repeat 3px 3px; }
        #content .part-one .main_block .block_one .date_two a {
          color: #fff;
          text-decoration: none; }
      #content .part-one .main_block .block_one .p_one {
        position: relative;
        top: 9px;
        padding-left: 22px;
        line-height: 17px !important;
        font: 0.625em "Arial";
        color: #5c5c5c;
        display: inline-block; }
      #content .part-one .main_block .block_one .button {
        margin: 24px 0 0 151px; }
        #content .part-one .main_block .block_one .button .box_shadow {
          border-bottom: 3px solid #00141e;
          width: 72px;
          -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.16);
                  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.16); }
        #content .part-one .main_block .block_one .button button {
          width: 72px;
          height: 23px;
          border: 1px solid #045279;
          -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
                  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
          background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0.2)));
          background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
          background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
          background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
          font: bold 0.625em "Arial";
          background-color: #076e9f;
          color: #fff; }
        #content .part-one .main_block .block_one .button button:hover {
          color: #00141e;
          background-color: #fff; }
      #content .part-one .main_block .block_one .likes_comments {
        float: right;
        margin: -27px -6px 0 0;
        width: 179px;
        height: 26px;
        background-color: #90d4f5;
        border-top: 1px solid #9fdaf6; }
        #content .part-one .main_block .block_one .likes_comments p {
          height: 18px;
          font: 0.625em "Arial";
          display: inline-block; }
          #content .part-one .main_block .block_one .likes_comments p a {
            text-decoration: none;
            color: #076e9f; }
        #content .part-one .main_block .block_one .likes_comments .like {
          padding: 6px 0 0 38px;
          background: url("../img/white_hand.png") no-repeat 13px; }
        #content .part-one .main_block .block_one .likes_comments .comment {
          padding: 4px 0 0 35px;
          background: url("../img/white_mesage.png") no-repeat 10px; }
        #content .part-one .main_block .block_one .likes_comments .block {
          float: right;
          margin-top: 25px;
          width: 3px;
          height: 3px;
          border: 2.5px solid transparent;
          border-left: 2.5px solid #076e9f;
          border-top: 2.5px solid #076e9f; }
    #content .part-one .main_block .block_two {
      margin: 19px 0 0 13px; }
      #content .part-one .main_block .block_two .first,
      #content .part-one .main_block .block_two .second {
        min-height: 184px;
        background-color: #eaeaea;
        -webkit-border-top-left-radius: 15px;
                border-top-left-radius: 15px; }
        #content .part-one .main_block .block_two .first .left,
        #content .part-one .main_block .block_two .second .left {
          padding: 21px 0 0 31px; }
        #content .part-one .main_block .block_two .first h1,
        #content .part-one .main_block .block_two .second h1 {
          font: 1.375em "League Gothic", sans-serif;
          color: #076e9f; }
        #content .part-one .main_block .block_two .first .p_one,
        #content .part-one .main_block .block_two .second .p_one {
          font: 0.625em "Arial";
          color: #878787; }
          #content .part-one .main_block .block_two .first .p_one span,
          #content .part-one .main_block .block_two .second .p_one span {
            color: #076e9f; }
        #content .part-one .main_block .block_two .first .p_two,
        #content .part-one .main_block .block_two .second .p_two {
          padding-top: 30px;
          font: 0.625em "Arial";
          line-height: 17px !important;
          color: #5c5c5c; }
        #content .part-one .main_block .block_two .first .p_three,
        #content .part-one .main_block .block_two .second .p_three {
          padding-top: 5px;
          font: 0.625em "Arial"; }
          #content .part-one .main_block .block_two .first .p_three a,
          #content .part-one .main_block .block_two .second .p_three a {
            color: #076e9f;
            text-decoration: none; }
          #content .part-one .main_block .block_two .first .p_three a:hover,
          #content .part-one .main_block .block_two .second .p_three a:hover {
            color: #22aaec; }
      #content .part-one .main_block .block_two .likes_comments {
        min-height: 33px;
        margin-top: -1px;
        text-align: right;
        background-color: #f4f3f3; }
        #content .part-one .main_block .block_two .likes_comments p {
          margin-top: 6px;
          height: 18px;
          font: 0.625em "Arial";
          display: inline-block; }
          #content .part-one .main_block .block_two .likes_comments p a {
            text-decoration: none;
            color: #076e9f; }
        #content .part-one .main_block .block_two .likes_comments .like {
          padding: 6px 0 0 31px;
          background: url("../img/blue_hand.png") no-repeat 13px; }
        #content .part-one .main_block .block_two .likes_comments .comment {
          padding: 4px 12px 0 30px;
          background: url("../img/blue-message.png") no-repeat 10px; }
      #content .part-one .main_block .block_two .second .p_two {
        padding-top: 8px; }
      #content .part-one .main_block .block_two .one {
        padding-right: 7px; }
      #content .part-one .main_block .block_two .two {
        padding-left: 7px; }
      #content .part-one .main_block .block_two .line {
        position: relative;
        top: -41px;
        min-height: 10px;
        background-color: #f4f3f3; }
      #content .part-one .main_block .block_two .shadow {
        width: 95%; }
    #content .part-one .main_block .banner {
      margin-left: 13px;
      position: relative;
      top: -10px; }
    #content .part-one .main_block .shadow {
      -webkit-box-shadow: 0 0 8px 2.6px rgba(0, 0, 0, 0.9);
              box-shadow: 0 0 8px 2.6px rgba(0, 0, 0, 0.9);
      max-width: 98%;
      margin: 0 auto; }
    #content .part-one .main_block .transform {
      -webkit-border-radius: 13em/0.5em;
              border-radius: 13em/0.5em;
      height: 30px;
      background-color: #fff;
      max-width: 100%;
      margin: 1.5px auto;
      margin-bottom: 0;
      -webkit-box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.7);
              box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.7); }
  #content .part-one .sidebar {
    min-height: 578px; }
    #content .part-one .sidebar h1 {
      font: 1.375em "League Gothic", sans-serif;
      color: #076e9f; }
    #content .part-one .sidebar .block-one {
      margin-top: 28px;
      min-height: 141px;
      border-bottom: 1px dotted #d5d5d5; }
      #content .part-one .sidebar .block-one p {
        padding-top: 12px;
        font: 0.625em "Arial";
        color: #5c5c5c;
        line-height: 17px !important; }
        #content .part-one .sidebar .block-one p span {
          color: #076e9f;
          font-weight: bold; }
    #content .part-one .sidebar .block-two {
      margin-top: 13px;
      min-height: 203px;
      border-bottom: 1px dotted #d5d5d5; }
      #content .part-one .sidebar .block-two .one,
      #content .part-one .sidebar .block-two .two,
      #content .part-one .sidebar .block-two .three {
        max-height: 40px; }
      #content .part-one .sidebar .block-two .one {
        margin-top: 9px; }
      #content .part-one .sidebar .block-two .two,
      #content .part-one .sidebar .block-two .three {
        margin-top: 11px; }
      #content .part-one .sidebar .block-two p,
      #content .part-one .sidebar .block-two h2 {
        text-align: left; }
      #content .part-one .sidebar .block-two h2 {
        max-width: 120px;
        position: relative;
        top: -41px;
        left: 68px;
        font: bold 0.625em "Arial";
        color: #5c5c5c; }
      #content .part-one .sidebar .block-two .comments {
        max-width: 130px;
        height: 20px;
        padding: 2px 0 0 30px;
        position: relative;
        left: 57px;
        top: -39px;
        background: url("../img/gray-message.png") no-repeat 10px;
        font: italic 0.625em "Arial"; }
        #content .part-one .sidebar .block-two .comments a {
          color: #5c5c5c;
          text-decoration: none; }
        #content .part-one .sidebar .block-two .comments a:hover {
          color: #c7e9fa; }
    #content .part-one .sidebar .block-three {
      min-height: 177px;
      margin-top: 18px;
      border-bottom: 1px dotted #d5d5d5; }
      #content .part-one .sidebar .block-three .stats {
        margin-top: 5px;
        height: 78px;
        min-width: 160px; }
        #content .part-one .sidebar .block-three .stats .date,
        #content .part-one .sidebar .block-three .stats .value,
        #content .part-one .sidebar .block-three .stats .status,
        #content .part-one .sidebar .block-three .stats .diff {
          min-width: 38px;
          display: inline-block;
          text-align: center; }
        #content .part-one .sidebar .block-three .stats .status {
          position: relative;
          top: 2px; }
        #content .part-one .sidebar .block-three .stats .value {
          position: relative;
          right: 3px; }
        #content .part-one .sidebar .block-three .stats .status {
          position: relative;
          right: 7px; }
        #content .part-one .sidebar .block-three .stats .diff {
          position: relative;
          right: 10px; }
        #content .part-one .sidebar .block-three .stats h2 {
          height: 19px;
          width: 39px;
          padding-top: 4px;
          font: 0.625em "Arial";
          color: #fff;
          background-color: #076e9f; }
        #content .part-one .sidebar .block-three .stats p {
          padding-top: 4px;
          height: 19px;
          width: 39px;
          font: 0.625em "Arial";
          color: #076e9f;
          background-color: #c7e9fa;
          border-top: 1px solid #fff; }
        #content .part-one .sidebar .block-three .stats .row-two {
          background-color: #b1e1f8; }

@-moz-document url-prefix() {
  #content .part-one .main_block .block_one .p_one {
    letter-spacing: -0.2px; } }

@-moz-document url-prefix() {
  #content .part-one .main_block .block_two .second .p_two {
    padding-top: 3px;
    letter-spacing: -0.2px; } }

@-moz-document url-prefix() {
  #content .part-one .main_block .block_two .first .p_two {
    padding-top: 25px;
    letter-spacing: -0.2px; } }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome, #content .part-one .main_block .block_one .p_one {
    font-size: 0.59em; } }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome, #content .part-one .main_block .block_two .first .p_two {
    padding-top: 25px;
    font-size: 0.59em; } }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome, #content .part-one .main_block .block_two .second .p_two {
    padding-top: 3px;
    font-size: 0.59em; } }
