body {
  background-color: #fff;
}
/* header */
/* part-one */
#header .part-one {
  min-height: 91px;
  border-bottom: 2px solid #22aaec;
  .logo {
    margin-top: 10px;
    text-align: right;
    h1 {
      position:relative;
      left:101px;
      font: 2em "League Gothic", sans-serif;
      color: #076e9f;
      z-index: 1;
      span {
        color: #22aaec;
      }
    }
  }
  .social {
    margin: 15px 15px 0 0;
    text-align: right;
    user-select: none;
    z-index: 0;
    p {
      display: inline-block;
      padding-left: 3px;
      a {
        text-decoration: none;
      }
    }
    p:first-child {
      padding-left: 0;
    }
    .e {
      position: relative;
      top: 1px;
    }
    .tw {
      position: relative;
      bottom: 1px;
    }
    p:hover {
      opacity: 0.6;
      transition:.6s;
    }
  }
  .navigation {
    margin-top: 8px;
    text-align: center;
    li {
      padding-left:3px;
      display: inline-block;
      font: 0.625em "Arial";
    }
    li:first-child {
      padding-left: 0;
    }
    a {
      text-decoration: none;
      color: #707070;
      padding: 4px 16px;
      border: 1px solid rgba(4 ,82 ,121, 0);
      border-radius: 1px;
    }
    a:hover {
      border: 1px solid rgba(4 ,82 ,121, 1);
      text-shadow: 0 -0.7px 1px rgba(0, 0, 0, 0.55);
      box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
      background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
      color: #fff;
      background-color: #076e9f;
    }
  }
}
/* part-two */
#header .part-two {
  min-height: 433px;
  border-bottom: 1px solid #22aaec;
  background: url("../img/bg_header.jpg") no-repeat center;
  background-size: cover;
  .one {
    margin-top: 91px;
    .h1,
    .p {
      margin: 0 auto;
      text-align: center;
      color: #076e9f;
      background-color: rgba(255, 255, 255, 0.8);
    }
    .h1 {
      max-width: 284px;
      min-height:79px;
      font: 3.75em "League Gothic", sans-serif;
      h1 {
        padding-top:6px;
      }
    }
    .p {
      position:relative;
      top: 19px;
      min-height:47px;
      max-width: 776px;
      letter-spacing: -0.12px;
      font: 1.875em "League Gothic", sans-serif;
      p {
        padding-top: 7px;
      }
    }
    span {
      color: #22aaec;
    }
  }
  .comments {
    margin-top: 94px;
    height: 121px;
    background-color: rgba(0, 0, 0, 0.5);
    .block {
      position: relative;
      top: 25px;
      margin: 0 auto;
      text-align: center;
      width: 154px;
      height: 69px;
      background-color: rgba(255, 255, 255, 0.9);
      .photo {
        position:relative;
        right: 36px;
        text-align: left;
        img {
          border-radius: 50px;
          transition: .3s;
        }
        img:hover {
          box-shadow: 0 0 0 3px rgba(34, 170, 236, 1);
        }
      }
      .message {
        margin-top: -67px;
        margin-left:51px;
        text-align: left;
        line-height:13px !important;
        font: italic 0.562em "Arial";
        color: #515151;
      }
      .name {
        padding-top: 5px;
        font: 0.562em "Arial";
        color: #828282;
      }
    }
    .one {
      left: 31px;
      .name {
        padding-left: 33px;
      }
    }
    .two {
      left: 17px;
      .name {
        padding-left: 6px;
      }
    }
    .three {
      left: 3px;
      .name {
        padding-left: 20px;
      }
    }
    .four {
      right: 11px;
      .name {
        padding-left: 22px;
      }
    }
    .pre-content {
      .line {
        position:relative;
        top:41px;
        border-top: 1px solid #22aaec;
      }
      .div {
        height: 12px;
        background-color:#fff;
        border-top: 1px solid #299ed7;
      }
    }
  }
}
/* hack for safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::i-block-chrome, #header .part-two .comments .block.four .message {
    margin-left:47px;
    width:104px;
    letter-spacing: -0.1px;
  }
}

/* hack for moz*/
@-moz-document url-prefix() {
  #header .part-two .comments .block.four .message {
    letter-spacing: -0.1px;
  }
}