@import "extends", "variables", "header";
/* content */
/* part-one */
#content .part-one {
  min-height: 578px;
  border-top: 1px solid #3fb5ef;
  .main_block {
    min-height: 578px;
    border-left: 1px dotted #d5d5d5;
    border-bottom: 1px dotted #d5d5d5;
    /* block one */
    .block_one {
      min-height: 189px;
      border-right: 1px dotted #d5d5d5;
      border-bottom: 1px dotted #d5d5d5;
      background-color: #fff;
      h1 {
        padding: 25px 0 0 13px;
        font: 2em "League Gothic", sans-serif;
        color: #076e9f;
      }
      .date_one,
      .date_two {
        margin-top: 9px;
        display: inline-block;
        width: 52px;
        height: 51px;
        border-radius: 100px;
        background-color: #22aaec;
        font: bold 0.5em "Arial";
        color: #fff;
        text-align: center;
        p {
          padding-top: 18px;
        }
      }
      .date_one {
        margin-left: 12px;
      }
      .date_two {
        margin-left: 4px;
        background: #22aaec url("../img/user-male.png") no-repeat 3px 3px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
      .p_one {
        position: relative;
        top: 9px;
        padding-left: 22px;
        line-height: 17px !important;
        font: 0.625em "Arial";
        color: #5c5c5c;
        display: inline-block;
      }
      .button {
        margin: 24px 0 0 151px;
        .box_shadow {
          border-bottom: 3px solid #00141e;
          width: 72px;
          box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.16);
        }
        button {
          width: 72px;
          height: 23px;
          border: 1px solid #045279;
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
          background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
          font: bold 0.625em "Arial";
          background-color: #076e9f;
          color: #fff;
        }
        button:hover {
          color: #00141e;
          background-color: #fff;
        }
      }
      .likes_comments {
        float: right;
        margin: -27px -6px 0 0;
        width: 179px;
        height: 26px;
        background-color: #90d4f5;
        border-top: 1px solid #9fdaf6;
        p {
          height: 18px;
          font: 0.625em "Arial";;
          display: inline-block;
          a {
            text-decoration: none;
            color: #076e9f;
          }
        }
        .like {
          padding: 6px 0 0 38px;
          background: url("../img/white_hand.png") no-repeat 13px;
        }
        .comment {
          padding: 4px 0 0 35px;
          background: url("../img/white_mesage.png") no-repeat 10px;
        }
        .block {
          float: right;
          margin-top: 25px;
          width: 3px;
          height: 3px;
          border: 2.5px solid transparent;
          border-left: 2.5px solid #076e9f;
          border-top: 2.5px solid #076e9f;
        }
      }
    }
    /* block two */
    .block_two {
      margin: 19px 0 0 13px;
      .first,
      .second {
        min-height: 184px;
        background-color: #eaeaea;
        border-top-left-radius: 15px;
        .left {
          padding: 21px 0 0 31px;
        }
        h1 {
          font: 1.375em "League Gothic", sans-serif;
          color: #076e9f;
        }
        .p_one {
          font: 0.625em "Arial";
          color: #878787;
          span {
            color: #076e9f;
          }
        }
        .p_two {
          padding-top: 30px;
          font: 0.625em "Arial";
          line-height: 17px !important;
          color: #5c5c5c;
        }
        .p_three {
          padding-top: 5px;
          font: 0.625em "Arial";
          a {
            color: #076e9f;
            text-decoration: none;
          }
          a:hover {
            color: #22aaec;
          }
        }
      }
      .likes_comments {
        min-height: 33px;
        margin-top:-1px;
        text-align: right;
        background-color: #f4f3f3;
        p {
          margin-top: 6px;
          height: 18px;
          font: 0.625em "Arial";;
          display: inline-block;
          a {
            text-decoration: none;
            color: #076e9f;
          }
        }
        .like {
          padding: 6px 0 0 31px;
          background: url("../img/blue_hand.png") no-repeat 13px;
        }
        .comment {
          padding: 4px 12px 0 30px;
          background: url("../img/blue-message.png") no-repeat 10px;
        }
      }
      .second {
        .p_two {
          padding-top: 8px;
        }
      }
      .one {
        padding-right: 7px;
      }
      .two {
        padding-left: 7px;
      }
      .line {
        position:relative;
        top: -41px;
        min-height: 10px;
        background-color: #f4f3f3;;
      }
      .shadow {
        width: 95%;
      }
    }
    /* banner */
    .banner {
      margin-left: 13px;
      position:  relative;
      top: -10px;
    }
    .shadow {
      box-shadow:0 0 8px 2.6px rgba(0, 0, 0, 0.9);
      max-width: 98%;
      margin: 0 auto;
    }
    .transform {
      border-radius: 13em/0.5em;
      height: 30px;
      background-color: #fff;
      max-width:100%;
      margin: 1.5px auto;
      margin-bottom: 0;
      box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.7)
    }
  }
  /* sidebar */
  .sidebar {
    min-height: 578px;
    h1 {
      font: 1.375em "League Gothic", sans-serif;
      color: #076e9f;
    }
    .block-one {
      margin-top: 28px;
      min-height: 141px;
      border-bottom: 1px dotted #d5d5d5;
      p {
        padding-top: 12px;
        font: 0.625em "Arial";
        color: #5c5c5c;
        line-height:17px !important;
        span {
          color: #076e9f;
          font-weight: bold;
        }
      }
    }
    .block-two {
      margin-top: 13px;
      min-height: 203px;
      border-bottom: 1px dotted #d5d5d5;
      .one,
      .two,
      .three {
        max-height: 40px;
      }
      .one {
        margin-top: 9px;
      }
      .two,
      .three{
        margin-top: 11px;
      }
      p,
      h2 {
        text-align:left;
      }
      h2 {
        max-width: 120px;
        position: relative;
        top: -41px;
        left:68px;
        font: bold 0.625em "Arial";
        color: #5c5c5c;
      }
      .comments {
        max-width: 130px;
        height: 20px;
        padding: 2px 0 0 30px;
        position: relative;
        left: 57px;
        top: -39px;
        background: url("../img/gray-message.png") no-repeat 10px;
        font: italic 0.625em "Arial";
        a {
          color: #5c5c5c;
          text-decoration: none;
        }
        a:hover {
          color: #c7e9fa;
        }
      }
    }
    .block-three {
      min-height: 177px;
      margin-top: 18px;
      border-bottom: 1px dotted #d5d5d5;
      .stats {
        margin-top:5px;
        height: 78px;
        min-width: 160px;
        .date,
        .value,
        .status,
        .diff {
          min-width: 38px;
          display: inline-block;
          text-align: center;
        }
        .status {
          position:relative;
          top: 2px;
          right: 7px
        }
        .value {
          position: relative;
          right: 3px; }
        .diff {
          position: relative;
          right: 10px; }
        h2 {
          height:19px;
          width:39px;
          padding-top:4px;
          font: 0.625em "Arial";
          color: #fff;
          background-color: #076e9f;
        }
        p {
          padding-top:4px;
          height:19px;
          width:39px;
          font: 0.625em "Arial";
          color: #076e9f;
          background-color: #c7e9fa;
          border-top: 1px solid #fff;
        }
        .row-two {
          background-color: #b1e1f8;
        }
      }
    }
  }
}
/* part-two */
#content .part-two {
  min-height: 262px;
  .main {
    margin-top: 12px;
    h1 {
      padding-left: 38px;
      font: 2em "League Gothic", sans-serif;
      color: #076e9f;
    }
    #map {
      margin-top:10px;
      min-height: 203px;
      width: 100%;
      border-top: 2px solid rgba(0, 0, 0, 0.25);
      border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    }
  }
}

/*hack for moz */
@-moz-document url-prefix() {
  #content .part-one .main_block .block_one .p_one {
    letter-spacing: -0.2px;
  }
  #content .part-one .main_block .block_two .second .p_two {
    padding-top: 3px;
    letter-spacing: -0.2px;
  }
  #content .part-one .main_block .block_two .first .p_two {
    padding-top: 25px;
    letter-spacing: -0.2px;
  }
  #content .part-one .sidebar .block-three .stats .status {
    top: 1px;
  }
  #content .part-one .main_block .block_two .likes_comments {
    min-height: 35px;
  }
  #content .part-one .main_block .block_two .line {
      top: -44px;
      min-height: 11px;
  }
  #content .part-one .sidebar .block-three {
    min-height: 179.5px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome, #content .part-one .main_block .block_one .p_one {
    font-size: 0.59em; }
  ::i-block-chrome, #content .part-one .main_block .block_two .first .p_two {
    padding-top: 25px;
    font-size: 0.59em; }
  ::i-block-chrome, #content .part-one .main_block .block_two .second .p_two {
    padding-top: 3px;
    font-size: 0.59em; }
  ::i-block-chrome, #content .part-one .sidebar .block-three .stats .status {
    top: 1px;
    right: 6px; }
  ::i-block-chrome, #content .part-one .sidebar .block-three .stats .diff {
    right: 9px; }
  ::i-block-chrome, #content .part-one .sidebar .block-one p {
    font-size: 0.7em;
  }
}
@import "footer";