@import "extends", "variables", "header", 'footer';
/* content */
/* part-one */
#content .part-one {
  min-height: 578px;
  border-top: 1px solid #3fb5ef;
  .main_block {
    .block_one {
      min-height: 200px;
      border-top: 1px solid #25a3e0;
      border-left: 1px dotted #d5d5d5;
      border-right:1px dotted #d5d5d5;
      border-bottom: 1px dotted #d5d5d5;
      background-color: #fff;
      h1 {
        padding: 25px 0 0 13px;
        font: 2em "League Gothic", sans-serif;
        color: #076e9f;
      }
      .date_one,
      .date_two {
        margin-top: 9px;
        display: inline-block;
        width: 52px;
        height: 51px;
        border-radius: 100px;
        background-color: #22aaec;
        font: bold 0.5em "Arial";
        color: #fff;
        text-align: center;
        p {
          padding-top:18px;
        }
      }
      .date_one {
        margin-left:12px;
      }
      .date_two {
        margin-left: 4px;
        background: #22aaec url("../img/user-male.png") no-repeat 3px 3px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
      .p_one {
        position:relative;
        top:9px;
        padding-left: 22px;
        line-height: 17px !important;
        font: 0.625em "Arial";
        color: #5c5c5c;
        display: inline-block;
      }
      .button {
         margin: 24px 0 0 151px;
        .box_shadow {
          border-bottom: 3px solid #00141e;
          width: 72px;
          box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.16);
        }
        button {
          width: 72px;
          height: 23px;
          border: 1px solid #045279;
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
          background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
          font: bold 0.625em "Arial";
          background-color: #076e9f;
          color: #fff;
        }
        button:hover {
          color: #00141e;
          background-color: #fff;
        }
      }
      .likes_comments {
        float:right;
        margin:-27px -6px 0 0;
        width: 179px;
        height: 26px;
        background-color: #90d4f5;
        border-top: 1px solid #9fdaf6;
        p {
          height:18px;
          font: 0.625em "Arial";;
          display: inline-block;
          a {
            text-decoration: none;
            color: #076e9f;
          }
        }
        .like {
          background: url("../img/white_hand.png") no-repeat 13px;
          padding:6px 0 0 38px;
        }
        .comment {
          background: url("../img/white_mesage.png") no-repeat 10px;
          padding:4px 0 0 35px;
        }
        .block {
          float:right;
          margin-top:25px;
          width: 3px;
          height: 3px;
          border: 2.5px solid transparent;
          border-left: 2.5px solid #076e9f;
          border-top: 2.5px solid #076e9f;
        }
      }
    }


  }

  .sidebar {
    min-height: 578px;
    background-color: blue;
  }
}